@column-horizontal-padding: 18px;

// Colors
@light-blue: #b3d4f9;
@dark-grey: #3f3f3f;
@black: #353535;
@light-orange: #fc6e51;
@white: #fff;
@bg-color: #f0f2f5;

@input-grey-stroke: #eaeaea;
@input-wrong: #f2adad;
@input-correct: #cff3aa;
@input-text-color: #797979;
@input-font-size: 14px;
@select-dropdown-bg: #999;
@select-tags-text-color: #fffefe;
@select-tags-font-size: 13px;
@select-text-color: #606060;
@select-font-size: 15px;
@select2-bg-color: #536167;
@select-dropdown-icons-color: #ebebeb;
@select-close-color: #ededed;
@select-drop-text-color: #606060;
@select-drop-font-size: 15px;

@checkbox-text-color: #555;
@checkbox-font-size: 15px;
@checkbox-stroke-color: #c6c6c6;
@checkbox-switch-disabled: #f8f8f8;

// Green Button
@btn-green: #a0d468;
@btn-border-green: #8bc152;
@btn-hover-green: #addf7a;
@btn-hover-border-green: #95cb5c;
@btn-active-green: #9cd066;

// Dark Button
@btn-dark: #536167;
@btn-border-dark: #3b4549;
@btn-hover-dark: #677980;
@btn-hover-border-dark: #56656b;
@btn-active-dark: #536167;

// Orange Button
@btn-org: @light-orange;
@btn-border-org: #e3573b;
@btn-hover-org: #fb7f65;
@btn-hover-border-org: #ec694f;
@btn-active-org: @light-orange;

// Base Font-size
@text-size: 32px;

// Button size
@btn-width: 130px;
@btn-padding-vertical: 10px;

// Image
@img-width: 260px;
@img-height: 260px;
@img-border-radius: 3px;
@img-border-color: #cacaca;

// Forms
@input-text-width: 245px;